= content_for :title, "#{@event.partner_one} & #{@event.partner_two} Wedding - #{@event.formatted_time}"

.box.box--mint
  .row
    .column.small-12#banner
      %h2 Nuestra Boda!
      %h1
        = @event.partner_one
        %span.font--pacifico &
        = @event.partner_two
.row
  .column.small-12
    %h5 El gran dia
    %h3= @event.date

#location.inverted.paralax{ :style => "background-image: url('https://scontent.fbed1-2.fna.fbcdn.net/v/t34.0-12/18009616_10155204889112528_583054537_n.jpg?oh=c13be7ef8f4a0b7123d8e1986de9d36f&oe=58FE9346');" }
  .row
    .column.small-12
      %br
      %br

      %h2= "en la #{@event.venue_name}"
      %h4= "de la ciudad de #{@event.venue_address_city}"

      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br

      - if @event.show_rsvp?
        = link_to raw("<span class='icon icon-pencil'></span> Confirmar asistencia"), "#rsvp", class: "button large js-scroll-to"

- if @event.show_rsvp?
  %br

  #rsvp.row{ng: { controller: "RsvpController" }}
    .column.small-12
      %h5 Confirma tu Asistencia
      = simple_form_for rsvp_event_groups_path(@event) do |f|
        %h3 Ingresa tu nombre
        .row
          .column.small-12.column.medium-6.medium-offset-3
            = f.input :invitado, collection: @groups, as: :select, placeholder: "ingresa tu nombre"
        %br

      .row
        .column.small-12.medium-6{ "ng-repeat" => "guest in group" }
          .card
            %h3 {{ guestName(guest) }}
            %input{type: "text", placeholder: "ingresa tu nombre", ng: { show: "guest.is_guest", model: "newGuest.name" }}
            %p {{ rsvpStatus(guest) }}
            %span.button{ng: { show: "guest.rsvp == null && !guest.is_guest", click: "setRsvp(guest, false)"}} Lo siento, no puedo asistir
            %span.button{ng: { hide: "guest.is_guest || guest.rsvp", click: "setRsvp(guest, true)"}} {{ rsvpButtonText(guest) }}
            %span.button{ng: { show: "guest.rsvp", click: "setRsvp(guest, false)"}} Lo siento, ya no puedo asistir
            %span.button{ng: { show: "guest.is_guest", disabled: "newGuest.name == ''", click: "defineGuest(guest)"}} {{ rsvpButtonText(guest) }}

            .reset{ng: {show: "guest.rsvp && guest.invited_to_ceremony"}}
              %label
                %input{type: "checkbox", ng: {change: "toggleVegetarian(guest)", model: "guest.vegetarian"}}
                Vegetarian

.box.box--mint
  .row
    .column.small-12
      -#%h5 Venue

    %br

  #ballons
    #balloon01{data: {top: {bottom: "top: -150px"}, bottom: {center: "top: 200px"}}}
    #balloon02{data: {top: {bottom: "top: -200px"}, bottom: {center: "top: 350px"}}}
    #balloon03{data: {top: {bottom: "top: -50px"}, bottom: {center: "top: 230px"}}}
  #bridge
    #couple

- @event.sections.each do |section|
  %section
    .row
      .column.small-12.medium-8.medium-offset-2
        %h5= section.title
        = raw(section.content.from_markdown_to_html)


%br

.row
  .column.small-12.medium-8.medium-offset-2
    %h5 Fotos

- if @event.show_photos?(params)
  = render partial: "photos/form"
  = render partial: "photos/index"
  #modalDropImages.reveal-modal{"data-reveal" => "", :style => "display: block;"}
    %h2.text--salmon Drop images to upload
- else
  .row
    .column.small-12
      %p Te invitamos a que regreses a esta seccion el dia de la boda para que puedas subir y ver fotos

%br

%footer
  %p
    %small
      For our techie friends hitched.it is an
      %a{:href => "http://github.com/adambutler/wedding-on-rails"} open source project
      built on Ruby-on-Rails.

